<!DOCTYPE html>
<html lang="en">



<head>
<meta charset="utf-8">
<title>FAQ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!--CSS Stylesheets-->
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/woza.css">


<!--Link to fonts from Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<link rel="shortcut icon" type="image/png" href="/static/assets/w.jpg">

	<style>
      p {
		font-size: 18px;
		line-height: 1.8;
      }
     </style>

</head>



<body class="w3-pale-blue">
<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content. -->

<div style="max-width:1500px">
<!-- 1. HOME PAGE TAB -->
<div class="w3-animate-opacity w3-padding w3-margin-bottom">
	


<!-- 960 width region -->
<div class='w3-content w3-padding w3-white' style="max-width:960px">
	
	
	
<!-- Top Bar -->
<div class='normal-bar w3-padding w3-round w3-text-black w3-opacity w3-small'>
	

	<p class="w3-padding-left no-margin space-letters w3-left-align unblock">
	<a class="change-size" href="{{ url_for('home_func') }}"><b><-- Go Back</b></a>
	</p>
	
	<p class="no-margin unblock space-letters w3-right">
		
		<a class="change-size" href="https://woza.work/"><b>Woza.Work</b></a>
		
	</p>
</div>
	



<div class="w3-text-purple w3-center w3-margin space-letters">

	<h2>FAQ</h2>
	
</div>



<div class='bottom-margin'>
	
	
	<!-- Start of block -->
	<div class='side-margin1 w3-round text-color space-letters 
	w3-margin-bottom'>
			
			
			<p class='w3-text-purple topp-margin'><b>1- What does this app do?</b></p>
			<p>This app automatically analyzes chest x-rays and draws bounding boxes around
				suspected opacities. Radiologists can then review the highlighted areas and use
				their clinical judgment to make a final diagnosis. This is a free diagnosis support tool.</p>

			<p class='w3-text-purple topp-margin'><b>2- How do I use it?</b></p>
			<p>- Submit one or more chest x-rays in dicom, png or jpg format.<br>
				- Your images will be auto analyzed on submission.<br>
				- A list of image names will appear.<br>
				- The number of suspected opacities will also be displayed.<br>
				- Click an image name to see that image with the bounding boxes drawn in.<br>
				- Click anywhere on the image to hide or show the bounding boxes.</p>


			<p>You'll find a few sample chest x-rays in the folder
				called sample_xray_images. You can use them to try the app.</p>

			<p class='w3-text-purple topp-margin'><b>3- How do I zoom in on the image?</b></p>
			<p>To zoom in on the image please use the desktop zoom feature that’s
				built into both Mac and Windows 10.<br>
				Place the mouse pointer on the part of the image you want to magnify then:<br>
				- on Mac move two fingers apart on the touchpad,<br>
				- on Windows hold down the windows key and press the + key.</p>


			<p class='w3-text-purple topp-margin'><b>4- How does this app work?</b></p>
			<p>A fine tuned Faster R-CNN computer vision model analyzes each image. When opacities are detected, the model outputs their
				bounding box coordinates. These boxes are then drawn on the x-ray.<br>
				Please refer to the <a href="/static/assets/Model-Card-and-App-Info-v1.0.pdf" class="w3-text-blue">Model Card</a> for more info.</p>

			<p class='w3-text-purple topp-margin'><b>5- What image formats are supported?</b></p>
			<p>The app accepts dicom, png or jpg images. Tiff images are not supported.</p>

		<p class='w3-text-purple topp-margin'><b>6- Can this app analyze pediatric images?</b></p>
			<p>Yes it can. But there wasn't a lot of pediatric images in the training data, therefore the performance on pediatric images may not be as good as adult images. The pediatric validation results are shown on
				the <a href="/static/assets/Model-Card-and-App-Info-v1.0.pdf" class="w3-text-blue">model card</a>.</p>

		<p class='w3-text-purple topp-margin'><b>7- Does this app need an internet connection to work?</b></p>
			<p>No. It's been designed to run offline. However, you will need an internet connection for the initial download
			and setup.</p>

		<p class='w3-text-purple topp-margin'><b>8- Will I need to have a computer with a GPU and tons of RAM?</b></p>
			<p>A GPU would be faster, but it's not essential. This app runs fine on the CPU. You don't need lots of RAM either.
				An ordinary Mac or PC should be able to run this app without any issues.</p>

		<p class='w3-text-purple topp-margin'><b>9- Will the app always be free?</b></p>
			<p>Yes it will always be free. This is an open source project.</p>

			<p>There's no charge for using this app. But please submit feedback regarding bugs, things that need to be improved and the app's real world performance.
				You can leave feedback <a href="https://www.kaggle.com/datasets/vbookshelf/xarpai-lung-opacity-detector/discussion" class="w3-text-blue">here</a>.</p>

	</div>
	<!-- End of block -->
	
</div>


</div><!-- End of 960 width region -->


</div><!--END OF HOME PAGE TAB-->
</div> <!-- w3-content -->
</body>
</html>

